@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme('colors.neutral.50');
    --foreground: theme('colors.neutral.900');
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: theme('colors.neutral.900');
      --foreground: theme('colors.neutral.50');
    }
  }

  body {
    width: 100vw;
    height: 100vh;
    @apply bg-background text-foreground;
  }
}
